body {
    background-color: white;
}
.topbar {
    display: flex;
}
.menu {
    width: 40px;
}
#menu {
    padding-left: 25px;
    padding-top: 10px;
}
.topbar{
    background-color: white;
}
.logo{
    max-width: 40%;
}
#logo{
    text-align: center;
}
.name{
    margin:0;
    font-size: 70px;
}
.about{
    padding-right: 50%;
}
.about-us{
    text-align: center;
    font-size: 50px;
}
.about-text, p{
    font-size: 16px;
}
.cont{
    padding-left: 50%
}
.contacts-text{
    text-align: center;
    font-size: 50px;
}
.priority{
    text-align: center;
}
.priority-text{
    font-size: 50px;
}
#safety {
    width: 15%;
}
.text{
    font-size: 25px;
}
#punctuality {
    width: 15%;
}
#reliability {
    width: 10%;
}